@font-face {
    font-family: 'Trajan Pro';
    src: url('TrajanPro-Regular.woff2') format('woff2'),
        url('TrajanPro-Regular.woff') format('woff'),
        url('TrajanPro-Regular.ttf') format('truetype'),
        url('TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
    font-smooth: always;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

