.nav {
  height: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 5em;
}

.nav * {
  font-family: 'Trajan Pro';
}

.nav > div {
  flex: 1;
}

.nav > a {
  color: #000;
  text-decoration: none;
  margin-left: 1em;
}

.nav > a:hover {
  color: rgba(0, 0, 0, .5);
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .nav {
    padding: 0 1em;
  }
}
