@import url('/assets/fonts/FZXIYSJW.css');
@import url('/assets/fonts/TrajanPro-Regular.css');
@import url('/assets/fonts/RobotoSlab-Regular.css');
@import url('/assets/fonts/NotoSerifSC-Regular-Alphabetic.css');

* {
  font-size: 1rem;
  font-family: 'Trajan Pro', 'FZYaSongS-L-GB';
}

html, body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #eee;
  border-radius: 16px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: #ddd;
}

a {
  color: #000;
  text-decoration: none;
}

:root {
  --text-8: rgba(0, 0, 0, .8);
  --text-6: rgba(0, 0, 0, .6);
  --text-4: rgba(0, 0, 0, .4);
  --text-2: rgba(0, 0, 0, .2);
}
