body {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.page-header {
  width: 100%;
  max-width: 50rem;
  margin: 4rem auto 2rem auto;
  font-size: 2rem;
  line-height: 2rem;
}

@media screen and (max-width: 1000px) {
  .page-header {
    width: calc(100% - 2rem);
    margin: 3rem 1rem 1rem 1rem;
  }
}
