<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="/assets/css/header.css">
    <link rel="stylesheet" href="/assets/css/footer.css">
    <link rel="stylesheet" href="/assets/css/post.css">
    <link rel="stylesheet" href="/assets/css/syntax.css">
    <link rel="stylesheet" href="/assets/css/poole.css">
  </head>
  <body>
    {% include header.html %}
    <div class="page-header">{{ page.title }}</div>
    <div class="content-wrap">
      <div class="date">{{ page.date | date: "%-d %B %Y" }}</div>
      <div class="categories">
        {% for cate in page.categories %}
          <span class="cate">{{ cate }}</span>
        {% endfor %}
      </div>
      <div class="content">{{ page.content }}</div>
    </div>
    {% include footer.html %}
  </body>
</html>